body {
    background-color: rgb(9, 9, 24);
    color: white;
}
a {
    color: #d3d3d8;
    border: solid #171776;
    border-radius: 12px;
    text-decoration: none;
    width: 100px;
    height: 30px;
    text-align: center;
    padding-top: 8px;
    float: left;
    margin-right: 60px;
}
.container {
    align-items: flex-start;
    width: 100%;
  
}
.ai {
    width: 60%;
    font-size: 22px;
}

.list {
    width: 30%;
    list-style-type: disc;
    padding-left: 40px;
    margin: 0;
    float: right; 
    font-size: 30px;
}
.bar {
    float: right;
    display: block;
    border-color: #171792;
   
}

.k {
    font-size: 80px;
    text-align: center;
    margin-right: 210px;
    text-shadow:  1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

h1,p {
    margin-left: 150px;
   
}
p {
    font-size: 25px;
}
h1,h2 {
    font-size: 50px;
    text-shadow:  1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
h2 {
    margin-left: 150px;
}
.m {
    float: left;
    border-radius: 18px;
    margin-left: 150px;
    box-shadow: 10px 10px 5px rgb(12, 15, 65);
}
.webp {
    float: right;
    margin-right: 20px;
    border-radius: 18px;
}

 .type {
    float: right;
    margin-right: 80px;
    border-radius: 18px;
    padding-top: 170px; 
}

.images {
    display: block;
}
.workai {
    float: right;
    margin-right: 70px;
    border-radius: 18px;
   
}
.list2 {
    font-size:28px;
    margin-left: 150px;
}