body {
    display: flex;
    background-color: rgb(239, 236, 236);
}
.text {
    margin-top: 170px;
}

.text h1 {
    color: rgb(0, 106, 255);
    font-size: 100px;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 250px;

}

.card .im1{
    width: 150px;
    border-radius: 50%;
    box-shadow: 3px 3px white;
    margin-left: 85px;
    margin-top: 30px;
}

.card .im2 {
    width: 250px;
    margin-left: 40px;
    margin-top: 0;
    cursor: pointer;
}

.card {
    margin-top: 120px;
    width: 330px;
    border-radius: 12px;
    border: 1px solid white;
    height: 440px;
    background-color: white;
    background: linear-gradient(   /*gradienti midis zemodan qvemot */
    to bottom,
    #1e66f5 0%,  /*lurji iwkeba*/
    #1e66f5 30%, /*mtavrdeba */
    white 30%, /*iwkeba tetri*/
    white 100% /* foni aris mtlianad tetri 30%idan*/
  );
    margin-left: 200px;
  
}

.okey {
    background-color: rgb(0, 106, 255);
    border-radius: 12px;
}

.card h1 {
    text-align: center;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin-bottom: 0;
}


.card p {
    text-align: center;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin-top: 5px;
}

.card button {
    width: 120px;
    height: 35px;
    border-radius: 22px;
    color: white;
    background-color: rgb(0, 106, 255);
    border: white 1px;
    margin-left: 23px;
    margin-top: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}
button:hover {
    color: white;
    background-color: #3271ef;
}
.card .b1 {
    margin-left: 30px;
}
.count p {
    margin-top: 10px;
    display: inline;
    margin-left: 0px;
    margin-left: 30px;
    
}

.card .op {
    margin-left: 50px;
}

.card hr {
    display: inline;
    width: 2px;
    height: 10px;
    margin-left: 20px;
}