body {
    background-color: black;
}
.container {
    border-color: white;
    border-style: solid;
    border-radius: 8px;
    margin: 0 auto;
    border: 1px rgb(47, 47, 51) solid;  
    width: 460px;
    height: 600px;
    margin-top: 90px;
}
* {
    text-align: center;
    color: white;
}
input {
    background-color: black;
    border-color: 1px rgb(47, 47, 51) solid ;
    display: block;
    text-align: left;
    width: 300px;
    height: 20px;
    margin: 0;
    padding: 14px;
    border-radius: 8px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 60px;
} 
h1 {
    font-size: 45px;
}
h4 {
   font-family: "Zalando Sans", sans-serif;
   color: rgb(80, 80, 87);
}
p {
    color: rgb(80, 80, 87);
}
a {
    color: rgb(62, 62, 183);
}
.m {
    font-family: "Zalando Sans", sans-serif;
    font-size: 16px;
    width: 260px;
    height: 40px;
    background-color: #4A5DF9;
    color: white;
    border-radius: 8px;
}

button {
    font-size: 16px;
    width: 260px;
    height: 40px;
    border-radius: 8px;
    color: white;
    background-color: rgb(74, 74, 245);
}

header {
    background-color: black;
    display: flex;
}
body {
    margin: 0;
}
.im1 {
    width: 90px;
    border-radius: 50%;
    margin-left: 50px;
}
nav {
    margin-left: 800px;
}

ol {
  list-style-type: none;
  margin: 0;
  padding: 0;

}
  
ol li {
  float: right;
  margin-top: 20px;
}

ol li a {
   
  border: solid #ffffff;
  border-radius: 20px;
  display: block;
  color: rgb(255, 255, 255);
  text-decoration: none;
  width: 120px;
  margin: 20px 23px ;
  margin: 20px 23px ;
  height: 30px;
  display: flex;
  justify-content: center;  /* ჰორიზონტალურად შუაში */
  align-items: center;      /* ვერტიკალურად შუაში */
}

.tex1 {
    display: inline;
    margin-left: 25px;
    color: #f1f1f1;

}

footer {
    background-color: rgb(26, 25, 25);
    margin-bottom: 0;
    
}

.slay1 {
    padding-top: 30px;
    color: #f1f1f1;
    margin-left: 40px;
}
.im7 {
    margin-left: 1400px;
}
.slay {
    color: #f1f1f1;
    margin-left: 40px;
    padding-bottom: 30px;

}