/* navbar */
li {
    display: inline;
    list-style-type: none;
    padding-right: 22px;
    color: black;
   
}

a {
  color: black;
}

.bar {
    padding-bottom: 20px;
    padding-top: 30px;
    text-align: center;
}
/* navbar end */

/* title */
.title {
    display: inline;
}

.ip {
    margin-left: 100px;
    text-align: left;
    font-size: 70px;
    display: inline;
    padding-bottom: 30px;
}

.ip1 {
    margin-left: 970px;
    text-align: right;
    font-size: 30px;
    display: inline;
    padding-bottom: 30px;
}

.vd {
    width: 1500px;
    margin-top: 30px;
    display: block;
    justify-content: center;
    margin-left: 87px;
    border-radius: 42px;
}
/* title end*/

/* main cont */
.main {
   display: flex;
   gap: 70px;
}
.k,.s,.l,.m {
    display: inline;
    width: 350px;
    height: 510px;
    border-radius: 22px;
    transition: transform 0.25s ease, box-shadow 0.25s ease, background-color 1s ease-out;
}
.k {
    margin-left: 40px;
}

.ip2 {
    margin-left: 70px;
    margin-bottom: 80px;
    margin-top: 100px;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* main cont end */
.ip3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 90px;
    margin-bottom: 90px;
    font-size: 40px;
    margin-left: 70px;
}
/* airpod style */
.airpod {
  border-radius: 22px;
  border-style: solid ;
  border-color: rgb(255, 255, 255);
  background-color: rgb(246, 244, 244);
  width: 730px;
  height: 630px;
  margin-right: 50px;
  margin-left: 30px;

}
.im2 {
    width: 550px;
    margin-left: 100px;
}

.f {
    margin-top: 40px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.q {
    text-align: center;
    margin-bottom: 100px;
}

/* airpod style end */

/* airtag style */

.airtag {
   border-radius: 22px;
   border-style: solid ;
   border-color: rgb(255, 255, 255);
   background-color: rgb(246, 244, 244);
   width: 830px;
   height: 630px;
}
.o {
    margin-top: 40px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif; 
}
.x  {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif; 
}
.h {
    font-family: Georgia, 'Times New Roman', Times, serif; 
    margin-bottom: 40px;
    text-align: center;
}

.im3 {
    width: 800px;
    height: 410px;
    border-radius: 16px;
    padding-left: 10px;
}

.ok {
display: flex;
}