/* div {
    background-color: green;
    width: 200px;
    height: 200px;
}
div:hover {
    animation-name: Colorchange;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: 5;
}
@keyframes Colorchange {
    0% {
        background-color: green;
    }
    33% {
        background-color: red;
    }
    66% {
        background-color: blue;
    }
    100% {
        background-color: black;
    }
} */

/* animaciis gashveba mudmivad shegvidzlia "infinite" sashualebit ufro konkretulad "animation-iteration-count: infinite; */
body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
    gap: 30px;
}
div {
    height: 150px;
    width: 150px;
    background-color: red;
}

@media (max-width: 900px) {
    body{
        flex-direction: column;
    }
    
}
