body {
    background-color: black;
}
.container {
    padding-top: 20px;
    border-color: white;
    border-style: solid;
    border-radius: 8px;
    margin: 0 auto;
    border: 1px rgb(47, 47, 51) solid;  
    width: 520px;
    height: 720px;
    margin-top: 50px;
}
* {
    text-align: center;
    color: white;
}
input {
    background-color: black;
    border-color: 1px rgb(47, 47, 51) solid ;
    display: block;
    text-align: left;
    width: 300px;
    height: 20px;
    margin: 0;
    padding: 14px;
    border-radius: 8px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 80px;
} 
h1 {
    font-size: 45px;
}
h4 {
   font-family: "Zalando Sans", sans-serif;
   color: rgb(80, 80, 87);
}
p {
    color: rgb(80, 80, 87);
}
a {
    color: rgb(62, 62, 183);
}
.m {
    font-family: "Zalando Sans", sans-serif;
    font-size: 16px;
    width: 260px;
    height: 40px;
    background-color: #4A5DF9;
    color: white;
    border-radius: 8px;
}

button {
    font-size: 16px;
    width: 260px;
    height: 40px;
    border-radius: 8px;
    color: white;
    background-color: rgb(74, 74, 245);
}