video {
    width: 1695px;
    padding: 0;
    justify-content: center;
    width: 1635px;
    margin-left: 20px;
    margin-top: 40px;
}
body {
    background-color: black;
}
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}
  
ol li {
  float: right;
}

ol li a {
  font-size: 22px;
  padding-top: 100px;
  display: block;
  color: white;
  text-decoration: none;
  width: 90px;
  margin: 20px 23px ;
  margin: 20px 23px ;
  height: 30px;
  text-align: center;
  padding-top: 3px;
  margin-bottom: 0;

}
li:hover {
  transform: translateY(-8px);
}

.logo {
  margin-bottom: 0;
  margin-left: 20px;
  float: left;
}
.v {
  display: inline;
  color: white;
  float: left;
  padding-left: 500px;
  margin-bottom: 0;
  font-size: 50px;
  padding-top: 0;
  margin-top: 0;
}
.main {
  background-color: white;
  padding-bottom: 600px;
}
.porc {
  width: 350px;
  float: right;
  margin-right: 400px;
  margin-top: 70px;
  border-radius: 6px;

}
.slay {
  margin-top: 160px;
  float: left;
  margin-left: 400px;
}
.art {
  font-size: 22px;
  float: left;
  margin-left: 400px;
}
.slay1 {
  width: 370px;
  margin-right: 180px;
  margin-left: 32px;
  margin-top: 60px;
  margin-bottom: 50px;
  border-radius: 6px;
  transition: transform 0.4s ease;
}

.slay1:hover {
  transform: scale(1.2);
}

.slay2 {
  margin-left: 60px;
  margin-top: 60px;
  margin-bottom: 50px;
  border-radius: 6px;
  transition: transform 0.4s ease;
}

.slay2:hover {
  transform: scale(1.2);
}

.slay3 {
  width: 400px;
  border-radius: 6px;
  float: right;
  margin-right: 32px;
  margin-top: 60px;
  margin-bottom: 50px;
  transition: transform 0.4s ease;
}
.slay3:hover {
  transform: scale(1.2);
}

/* about */

.about {
  background-color: rgb(255, 255, 255);
}
.ABT {
  padding-top: 50px;
  text-align: center;
  padding-bottom: 50px;
  margin-bottom: 0;
}
.im1 {
  width: 700px;
  margin-left: 350px;
  margin-top: 0px;
  border-radius: 12px;
}

.im2 {
  width: 300px;
  float: right;
  margin-right: 325px;
  margin-top: 0px;
  border-radius: 12px;
  box-shadow: 2px 2px rgb(183, 182, 182);
}

.pr1 {
  text-align: left;
  margin-left: 350px;
  display: flex;
  padding-bottom: 30px;
}
