.container {
    border-color: black;
    border-style: solid;
    border-radius: 8px;
    margin: 0 auto;
    border: 1px navy solid;  
    outline: 1px navy solid;  
    width: 500px;
    height: 600px;
}
h1,h4 {
    text-align: center;
}
input[type=text] {
    display: block;
    text-align: left;
    width: 400px;
    margin: 0;
    padding: 14px;
    border-radius: 8px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 30px;
  }
input[type=email] {
      display: block;
    text-align: left;
    width: 400px;
    margin: 0;
    padding: 14px;
    border-radius: 8px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 30px;
}
input[type=password] {
      display: block;
    text-align: left;
    width: 400px;
    margin: 0;
    padding: 14px;
    border-radius: 8px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 30px;
}
.t {
    background-color: rgb(62, 86, 238);
    color: white;
    border-style: solid;
    width: 320px;
    height: 50px;
    border-color: white;
    font-size: 20px;
    border-radius: 4px;
    margin-left: 80px;
}
.t:hover {
    background-color: rgb(0, 162, 255);
}
.but {
    display: flex;
    gap: 20px;
    margin-top: 30px;

}
.b,.c,.a {
    background-color: white;
    color: rgb(5, 134, 255);
    border-style: solid;
    border-color: rgb(5, 134, 255);
    border-radius: 8px;
    width: 120px;
    height: 30px;
    margin-left: 25px;
}

.a:hover {
    background-color: blue;
}
.b:hover {
    background-color: blue;
}
.c:hover {
    background-color: blue;
}